@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow: auto !important;
  padding-right: 0 !important;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

#app {
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 6.4rem 1.6rem;
}

.heading {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
  letter-spacing: 5px;
  margin: 2rem 0;
}

.title {
  text-align: center;
  color: #888;
  font-style: italic;
  font-weight: normal;
  margin: 1.5rem 0;
}

.band-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  line-height: 1.5;
  cursor: pointer;
}
.band-btn:hover {
  background-color: #ccc;
  color: #000;
}
@media only screen and (max-width: 37.4375em) {
  .band-btn {
    width: 100%;
  }
}

@-webkit-keyframes slider {
  0% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  33.34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slider {
  0% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  33.34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.modal .modal-size {
  width: 90rem !important;
  max-width: 100%;
}
.modal .modal-dialog-centered {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.modal .modal-header {
  padding: 3.2rem 1.6rem;
  background-color: #009688;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal .modal-header h3 {
  font-size: 3rem;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: normal;
  margin: 1rem 0;
}
.modal .modal-header .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.6rem 2rem;
  margin: 0;
  border: none;
  border-radius: 0;
  font-size: 2rem;
  line-height: 1;
  opacity: 1;
  color: #fff;
  background-color: transparent;
  background-image: none;
}
.modal .modal-header .btn-close:hover {
  background-color: #ccc;
  color: #000;
}
.modal .modal-body {
  padding: 0 1.5rem;
}
.modal .modal-body .col-form-label {
  margin: 1.5rem 0;
  font-size: 1.6rem;
}
.modal .modal-body .form-control {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 1.6rem;
}
.modal .modal-body .btn-pay {
  display: block;
  width: 100%;
  padding: 1.6rem;
  margin: 1.5rem 0;
  border: none;
  background-color: #009688;
  color: #fff;
}
.modal .modal-body .btn-pay:hover {
  background-color: #ccc;
  color: #000;
}
.modal .modal__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}
.modal .modal__footer .btn-close-2 {
  padding: 8px 16px;
  border: none;
  background-color: #f44336;
  color: #fff;
}
.modal .modal__footer .btn-close-2:hover {
  background-color: #ccc;
  color: #000;
}

main {
  margin-top: 4.6rem;
}

.slider {
  position: relative;
}
.slider .slider-box {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.slider .slider-img img {
  width: 100%;
}
.slider .slider-cap {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}
.slider .slider-cap .slider-heading {
  color: #fff;
  padding: 2rem 0;
  font-size: 2.4rem;
  font-weight: 400;
}
.slider .slider-cap .slider-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.about .about-text {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 1.5rem 0;
}
.about .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.2rem 0;
}
.about .member .member-item {
  text-align: center;
}
.about .member .member-name {
  margin: 1.5rem 0;
  line-height: 1.6;
}
.about .member .member-img {
  width: 60%;
  margin: 0 auto;
  border-radius: 4px;
}
@media only screen and (max-width: 37.4375em) {
  .about .member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .member .member-item {
    width: 100%;
  }
}

.tour {
  background-color: #000;
}
.tour .heading {
  color: #fff;
}
.tour .ticket {
  margin: 3.2rem 0;
  background-color: #fff;
}
.tour .ticket .ticket-item {
  padding: 8px 16px;
  line-height: 1.5;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.tour .ticket .ticket-item:last-of-type {
  border-style: none;
}
.tour .ticket .ticket-time {
  color: #777;
}
.tour .ticket .sold-out {
  padding: 2px 8px;
  margin-left: 1.6rem;
  line-height: 1.6;
  color: #fff;
  background-color: #f44336;
}
.tour .ticket .ticker-quantity {
  padding: 0 8px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 3.2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.tour .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}
.tour .address .address-img:hover {
  opacity: 0.5;
}
.tour .address .address-content {
  padding: 1.6rem 1.6rem;
  background-color: #fff;
}
.tour .address .address-heading {
  font-size: 1.5rem;
  font-weight: 600;
}
.tour .address .address-date {
  margin: 2rem 0;
  font-size: 1.5rem;
  color: #777;
}
.tour .address .address-desc {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 37.4375em) {
  .tour .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tour .address .address-item {
    width: 100%;
  }
  .tour .address .address-img {
    width: 100%;
  }
}

.contact .contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 4.8rem 0;
}
@media only screen and (max-width: 37.4375em) {
  .contact .contact-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-body .contact-form {
    width: 100%;
  }
  .contact .contact-body .contact-form .wrapper-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-body .contact-form .wrapper-form input {
    width: 100%;
    margin-top: 1rem;
  }
}
.contact .contact-info-item {
  padding-bottom: 8px;
  font-size: 1.8rem;
  position: relative;
}
.contact .contact-info-item i {
  position: absolute;
  top: 2px;
}
.contact .contact-info-item span {
  margin-left: 3.6rem;
}
.contact .contact-form {
  width: 50%;
}
.contact .contact-form input {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 1.4rem;
  line-height: 24px;
}
.contact .wrapper-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .wrapper-form input {
  width: 48%;
}
.contact .message {
  margin: 8px 0 1.6rem;
}
.contact .message input {
  width: 100%;
}
.contact .band-btn {
  float: right;
}

.map {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

footer {
  text-align: center;
}
footer .social {
  margin-bottom: 2rem;
}
footer .social a {
  display: inline-block;
  font-size: 2.4rem;
  margin: 0 2px;
  color: #666;
}
footer .social a:hover {
  opacity: 0.5;
}
footer p {
  color: #666;
}

.header-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4.6rem;
  background-color: #000;
  -webkit-box-shadow: 0 1px 5px 0px #111;
          box-shadow: 0 1px 5px 0px #111;
  position: fixed;
  top: 0;
  z-index: 99;
}
@media only screen and (max-width: 37.4375em) {
  .header-pc {
    display: none;
  }
}
@media only screen and (min-width: 37.5em) {
  .header-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-pc .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-pc .nav-bar .nav-item {
  position: relative;
}
.header-pc .nav-bar .nav-item a,
.header-pc .nav-bar .nav-item span {
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.7px;
  line-height: 4.6rem;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}
.header-pc .nav-bar .nav-item a i,
.header-pc .nav-bar .nav-item span i {
  font-size: 1.4rem;
}
.header-pc .nav-bar .nav-item:hover {
  background-color: #ccc;
}
.header-pc .nav-bar .nav-item:hover a,
.header-pc .nav-bar .nav-item:hover span {
  color: #000;
}
.header-pc .nav-bar .nav-item .sub-nav {
  display: none;
}
.header-pc .nav-bar .nav-item .sub-nav .sub-nav-item {
  min-width: 16rem;
}
.header-pc .nav-bar .nav-item .sub-nav .sub-nav-item a {
  padding: 0;
  display: block;
  height: 3.9rem;
  padding: 0 16px;
  line-height: 3.9rem;
}
.header-pc .nav-bar .nav-item .sub-nav .sub-nav-item:hover {
  background-color: #ccc;
}
.header-pc .nav-bar .nav-item:last-child:hover .sub-nav {
  display: block;
  position: absolute;
  top: 4.6rem;
  left: 0;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 4px 10px 0 #555;
          box-shadow: 0 4px 10px 0 #555;
  z-index: 99;
  opacity: 1;
}
.header-pc .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.6rem;
  width: 6.2rem;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.header-pc .search:hover {
  background-color: #f44336;
}

.header-mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-shadow: 0 1px 5px 0px #111;
          box-shadow: 0 1px 5px 0px #111;
  position: fixed;
  top: 0;
  z-index: 99;
  height: 4.6rem;
  overflow: hidden;
}
@media only screen and (min-width: 37.5em) {
  .header-mobile {
    display: none;
  }
}
@media only screen and (max-width: 37.4375em) {
  .header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-mobile .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
}
.header-mobile .nav-bar .nav-item {
  position: relative;
}
.header-mobile .nav-bar .nav-item a,
.header-mobile .nav-bar .nav-item span {
  display: block;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.7px;
  line-height: 4.6rem;
  padding: 0 2.4rem;
  cursor: pointer;
}
.header-mobile .nav-bar .nav-item a i,
.header-mobile .nav-bar .nav-item span i {
  font-size: 1.4rem;
}
.header-mobile .nav-bar .nav-item:hover {
  background-color: #ccc;
}
.header-mobile .nav-bar .nav-item:hover a,
.header-mobile .nav-bar .nav-item:hover span {
  color: #000;
}
.header-mobile .nav-bar .nav-item .sub-nav {
  display: block;
}
.header-mobile .nav-bar .nav-item .sub-nav .sub-nav-item {
  background-color: #000;
  min-width: 16rem;
}
.header-mobile .nav-bar .nav-item .sub-nav .sub-nav-item a {
  padding: 0;
  display: block;
  padding: 1.2rem 4.8rem;
  line-height: 100%;
  color: #fff;
}
.header-mobile .nav-bar .nav-item .sub-nav .sub-nav-item:hover {
  background-color: #ccc;
}
.header-mobile .nav-bar .nav-item .sub-nav .sub-nav-item:hover a {
  color: #000;
}
.header-mobile .nav-bar .nav-item:last-child {
  height: 4.6rem;
  overflow: hidden;
}
.header-mobile .nav-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 0 2.4rem;
  height: 4.6rem;
  background-color: #000;
  color: #fff;
  z-index: 9;
}
.header-mobile .nav-btn:hover {
  background-color: #ccc;
  color: #000;
}

.active {
  overflow: visible !important;
}